<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="InputPath" value="..\..\..\Files\Input"/>
        <add key="ReferencePath" value="..\..\..\Files\Input\ReferenceData.xml"/>
        <add key="OutputPath" value="..\..\..\Files\Output"/>
    </appSettings>
</configuration>